node_modules

.env
coverage
coverage.json
typechain
dist
#Hardhat files
cache
artifacts

_contracts
images
metadata
.env.example
.eslintignore
.eslintrc.js
.npmignore
.prettierignore
.solhint.json
.solhintignore
.prettierrc
hardhat.config.js
hardhat.config.ts